.toTop{
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    z-index: 7;

    right: 30px;
    bottom: 30px;

    background-color: #02367F;
    border-radius: 50%;

    box-shadow: 2px 2px 16px 0px rgba(2, 54, 127, 0.5);
    -webkit-box-shadow: 2px 2px 16px 0px rgba(2, 54, 127, 0.5);
    -moz-box-shadow: 2px 2px 16px 0px rgba(2, 54, 127, 0.5);

    cursor: pointer;
    transition: all 0.5s ease;

    opacity: 0;
}

.toTop:hover{
    transform: scale(1.05);
}

.topActive{
    opacity: 1;
}

.toTop_svg{
    width: 30px;
    
    fill: white;
    transition: all 0.5s ease;
}

.toTop_svg:hover{
    transform: scale(1.05);
}


.top_section{
    width: 100%;
    height: 50px;
    background-color: rgba(2,54,127,1);
    font-family: poppins, sans-serif;
}

.top_section_inner{
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    height: 100%;

    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.top_section_left,
.top_section_right{
    width: 50%;
    height: 100%;
  
    display: flex;
    align-items: center;
}

.top_section_left{
    gap:10px;
}

.top_section_right{
    justify-content: flex-end;
    gap: 25px;
}

.user_icon_pad{
    
    cursor: pointer;
    padding: 3px;
}

.top_section_left_icon{
    width: 18px;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(3000px) rotateY(0deg);
    transition: all 0.3s ease;
}

.user_icon_pad:hover .top_section_left_icon{
   
    transform: perspective(3000px) rotateY(180deg);

    
}

.top_section_left_txt{
    font-size: 12px;
    color: white;
    cursor: pointer;
}



.top_section_right_txt{
    font-size: 16px;
    color: white;

    cursor: pointer;

    transition: all 0.3s ease;
}

.svgClass{
    height: 50%;
    width: 2ch;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.top_section_right_facebook_icon{
    height: 20px;

    fill: white;

    transform-style: preserve-3d;
    transform: perspective(3000px) rotateY(0deg);

    transition: all 0.3s ease;
}

.svgClass:hover .top_section_right_facebook_icon{
    transform: perspective(3000px) rotateY(180deg);
}

.navbar{
    width: 100%;
    height: 80px;
    top:50px;
    position: fixed;
    z-index: 6;
    font-family: poppins, sans-serif;
    background-color: white;
    transition: all 0.2s ease;
}

.navbar_inner{
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_fixed{
    top:0;

    background-color: rgb(245, 245, 245);

    transition: all 0.2s ease;
}

.navbar_left{
    display: flex;
    align-items: center;
}

.navbar_left h3{
    font-family: roboto;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(2,54,127,1) 0%, rgb(15, 95, 124) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar_logo{
    cursor: pointer;
    width: 80px;
    margin-left: -20px;
}

ul{
    display: flex;
    gap: 50px;
}

.navbar_links{
    list-style: none;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 600;

    background: linear-gradient(90deg, rgba(2,54,127,1) 0%, rgb(15, 95, 124) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.links_underline{
    position: relative;
}

.links_underline::before{
    position: absolute;
    content: '';
    bottom: -5px;
    left: 0;
    width:0%;
    height: 2px;
    background: linear-gradient(90deg, rgba(2,54,127,1) 0%, rgba(0,167,229,1) 100%);
    transition: all 0.4s ease;
}

.links_underline:hover:before{
    width:100%;
}

.burger_menu{
    display: none;
    cursor: pointer;
}

.burger_menu_icon{
    width: 20px;
    fill: #024490;
}

.dashboard{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color: white;
    display: none;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    z-index: 5;
    top: 50px;
    margin-top: -100% ;
    transition: all 0.3s ease;
}

.dashboard_Active{
    margin-top: 0;
}

.dashboard ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 20px;
    text-align: end;
}


@media (max-width:769px) {
    .toTop{
        display: none;
    }
    .navbar_left{
        width: 70%;
    }
    
    .top_section{
        display: none;
    }
    .navbar{
        box-sizing: border-box;
        height: 50px;
        justify-content: space-between;
        padding-right: 10px;
        position: fixed;
        z-index: 6;
        top: 0;
    }
    .navbar_logo{
        height: 50px;
        width: auto;
        margin-left: 0;
    }
    ul{
        display: none;
    }
    .burger_menu{
        display: block;
    }
    .dashboard{
        display: flex;
    }
}



/*******************************************************/
/**************** სერვისები ***************************/


/************************** searching **************/


figure{
    -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

figure.snip1390 {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  width: 100%;
  color: #000000;
  text-align: center;
  font-size: 16px;
  padding: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip1390 *,
figure.snip1390 *:before,
figure.snip1390 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1390 figcaption {
  width: 100%;
  
}
figure.snip1390 h2,
figure.snip1390 h4,
figure.snip1390 blockquote {
  text-transform: capitalize;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: roboto;
  font-weight: 600;
}
figure.snip1390 h2,
figure.snip1390 h4 {
  font-weight: 300;
}
figure.snip1390 h2 {
  color: #ffffff;
}
figure.snip1390 h4 {
  color: #a6a6a6;
}
figure.snip1390 blockquote {
  font-size: 1em;
  padding: 45px 20px 40px 50px;
  margin-top: 30px;
  background-color: #ffffffb9;
  border-radius: 5px;
  box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
  text-align: left;
  position: relative;
}
figure.snip1390 blockquote:before {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 70px;
  opacity: 0.25;
  font-style: normal;
  top: 0px;
  left: 20px;
}
figure.snip1390 .profile {
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  border: solid 5px rgba(2,54,127,1);
}


.slider2{
    width: 100%;
    overflow-x: hidden;
}


.loader{
    position: absolute;
    z-index: 18;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.no_loader{
    display: none;
}

.loader_svg {
    width: 6.25em;
    transform-origin: center;
    animation: rotate4 0.8s linear infinite;
   }
   
   circle {
    fill: none;
    stroke: hsl(214, 97%, 59%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 0.8s ease-in-out infinite, circleDissapear 0.8s ease 1.3s 1 forwards;
   }
   
   @keyframes rotate4 {
    100% {
     transform: rotate(360deg);
    }
   }
   
   @keyframes dash4 {
    0% {
     stroke-dasharray: 1, 200;
     stroke-dashoffset: 0;
    }
   
    50% {
     stroke-dasharray: 90, 200;
     stroke-dashoffset: -35px;
    }
   
    100% {
     stroke-dashoffset: -125px;
    }
   }
   

   .loader_logo{
    position: absolute;
    width: 3em;
    opacity: 0;
    transform: scale(0);
    animation: logoApprove 0.5s linear 1s 1 forwards;
   }

   @keyframes logoApprove{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
   }

   @keyframes circleDissapear {
    0%{
        opacity:1;
    }
    100%{
        opacity: 0;
    }
   }


   .log_in{
    margin-top: 20px;
    width: 100%;
    display: flex !important;
    align-items: flex-end !important;
    justify-content: flex-end;
    gap: 10px;
    font-family: roboto;
    text-transform: capitalize;
    font-weight: 600;
    background: linear-gradient(90deg, rgba(2,54,127,1) 0%, rgb(15, 95, 124) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dashboard_user_icon{
    width: 15px;
}