


.card_Swiper{
    width: 100%;
    padding: 0 !important;
    background-image: url('./images/boxdelivery.webp');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}


.haha{
    height: fit-content !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: transparent;
    cursor: pointer;
}