.counting_numbers,
.counting_numbers_responsive{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
}

.counting_numbers_responsive{
    display: none;
}

.num_block{
    width: 270px;
    height: 190px;
    position: relative;
    cursor: pointer;
    box-shadow: 2px 2px 16px 0px rgba(2, 54, 127, 0.247);
    -webkit-box-shadow: 2px 2px 16px 0px rgba(2, 54, 127, 0.247);
    -moz-box-shadow: 2px 2px 16px 0px rgba(2, 54, 127, 0.247);
}

.num_block::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 0%;
    bottom: 0;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(2,54,127,1) 0%, rgba(0,167,229,1) 100%);
    transition: all 0.5s ease;
}

.num_block:hover:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(2,54,127,1) 0%, rgba(0,167,229,1) 100%);
}

.num_block_inner{
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.number{
    font-family: roboto;
    font-size: 50px;
    font-weight: 600;
    transition: all 0.55s ease;
}

.num_block_inner:hover .number{
    color: white;
}

.under_txt{
    font-family: roboto;
    font-size: 18px;
    transition: all 0.5s ease;
}

.num_block_inner:hover .under_txt{
    color: white;
}


@media (max-width:769px) {
    .counting_numbers{
        display: none;
    }
    .counting_numbers_responsive{
        display: flex;
        flex-direction: column;
    }
}