.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.footer_number p{
    font-family: roboto;
    color: rgb(0, 0, 0);
}

.footer_phone{
    font-family: roboto;
    color: rgb(2, 2, 2);
}

.footer_inner{
    font-family: roboto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.footer_block{
    font-family: roboto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.block_header{
    font-weight: 900;
    font-family: roboto;
    font-size: 18px;
}



.footer_social{
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.footer_social::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 2%;
    top:0;
    background: linear-gradient(90deg, rgba(2,54,127,1) 0%, rgb(15, 95, 124) 100%);
    overflow: hidden;
    transition: all 0.5s ease;
}

.footer_social:hover:before{
    height: 100%;
    overflow: hidden;
}

.footer_social_inner{
    overflow: hidden;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
}

.social_logo{
    width: 45px;
    fill: rgba(2,54,127,1);
    transition: all 0.6s ease;
}

.footer_social_inner:hover .social_logo{
    fill: white;
}

.footer_social_block{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media (max-width:769px) {
    .footer{
        align-items: center;
    }
    .footer_inner{
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }
    .footer_block{
        font-family: roboto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .footer_number p{
        text-align: left;
    }
}