.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer_number p{
    font-family: roboto;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.footer_phone{
    font-family: roboto;
    color: rgb(2, 2, 2);
}

.footer_inner{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}