.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    overflow-x: hidden;
    color: #0D2D3E;
}

.footer_inner{
    width: 85%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.footer_block{
    font-family: roboto;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 15px;
}

.block_header{
    width: 7ch;
    font-weight: 900;
    font-family: roboto;
    font-size: 18px;
}

.footer_social{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_social_inner{
    font-family: roboto;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.social_logo{
    width: 45px;
    fill: rgba(2,54,127,1);
    cursor: pointer;
    transition: all 0.6s ease;
}


.footer_social_block{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.all_rights{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.all_rights p{
    font-family: roboto;
    font-weight: 800;
    text-transform: uppercase;
    color: #0D2D3E;
}

@media (max-width:769px) {
    .footer{
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }

    .footer_block{
        align-items: flex-start;
    }

}