@font-face {
    src: url('../fonts/Poppins-Regular.ttf');
    font-family: poppins, sans-serif;
   
}

.top_section{
    font-family: poppins, sans-serif;
    width: 100%;
    height: 50px;
    background-color: #0D2D3E;

    display: flex;
    align-items: center;
}

.top_section_left,
.top_section_right{
  width: 50%;
  height: 100%;
  
  display: flex;
  align-items: center;
}

.top_section_left{
    padding-left: 5%;
    gap:10px;
}

.top_section_right{
    justify-content: flex-end;
    padding-right: 5%;
    gap: 25px;
}

.top_section_left_icon{
    width: 15px;
}

.top_section_left_txt{
    font-size: 12px;
    color: white;
}

.top_section_right_txt{
    font-size: 16px;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease;
}

.top_section_right_txt:hover{
    color: #EC3834;
}

.svgClass{
    height: 50%;
    width: 2ch;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top_section_right_facebook_icon{
    height: 20px;
    fill: white;
    transition: all 0.3s ease;

    transform-style: preserve-3d;
    transform: perspective(3000px) rotateY(0deg);
}

.svgClass:hover .top_section_right_facebook_icon{
    transform: perspective(3000px) rotateY(180deg) ;
    fill: #EC3834;
}


/********************/
/***** NAVBAR ******/

.navbar{
    font-family: poppins, sans-serif;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

.navbar_left{
    width: 30%;
}

.navbar_logo{
    height: 100px;
    width: auto;
}

ul{
    display: flex;
    gap: 50px;
}

.navbar_links{
    list-style: none;
    cursor: pointer;
    text-transform: capitalize;
}



/******************/
/***** SLIDER ****/

.slider{
    width: 100%;
    height: 100%;
    background-color: #EC3834;
}

.sliderIMG{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}