@font-face {
    src: url('./fonts/Poppins-Regular.ttf');
    font-family: poppins, sans-serif;
}

@font-face {
    font-family: roboto;
    src: url('./fonts/Roboto-Regular.ttf');
}



.top_section{
    font-family: poppins, sans-serif;
    width: 100%;
    height: 50px;
    background-color: #0D2D3E;

    overflow-x: hidden;
    display: flex;
    align-items: center;
}

.top_section_left,
.top_section_right{
  width: 50%;
  height: 100%;
  
  display: flex;
  align-items: center;
}

.top_section_left{
    padding-left: 5%;
    gap:10px;
}

.top_section_right{
    justify-content: flex-end;
    padding-right: 5%;
    gap: 25px;
}

.top_section_left_icon{
    width: 15px;
}

.top_section_left_txt{
    font-size: 12px;
    color: white;
}

.top_section_right_txt{
    font-size: 16px;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease;
}

.top_section_right_txt:hover{
    color: #EC3834;
}

.svgClass{
    height: 50%;
    width: 2ch;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top_section_right_facebook_icon{
    height: 20px;
    fill: white;
    transition: all 0.3s ease;

    transform-style: preserve-3d;
    transform: perspective(3000px) rotateY(0deg);
}

.svgClass:hover .top_section_right_facebook_icon{
    transform: perspective(3000px) rotateY(180deg) ;
    fill: #EC3834;
}


/********************/
/***** NAVBAR ******/

.navbar{
    font-family: poppins, sans-serif;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

.navbar_left{
    width: 30%;
}

.navbar_logo{
    height: 100px;
    width: auto;
}

ul{
    display: flex;
    gap: 50px;
}

.navbar_links{
    list-style: none;
    cursor: pointer;
    text-transform: capitalize;
}

.burger_menu{
    display: none;
    cursor: pointer;
}

.burger_menu_icon{
    width: 20px;
}

.dashboard{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color: white;
    display: none;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    z-index: 5;
    top: 50px;
    margin-top: -100% ;
    transition: all 0.3s ease;
}

.dashboard_Active{
    margin-top: 0;
}

.dashboard ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 20px;
    text-align: end;
}


@media (max-width:769px) {
    .top_section{
        display: none;
    }
    .navbar{
        box-sizing: border-box;
        height: 50px;
        justify-content: space-between;
        padding-right: 10px;
        position: fixed;
        z-index: 6;
    }
    .navbar_logo{
        height: 50px;
    }
    ul{
        display: none;
    }
    .burger_menu{
        display: block;
    }
    .dashboard{
        display: flex;
    }
}


/******************/
/***** SLIDER ****/

.slider{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #EC3834;
}

.sliderIMG{
    width: 100%;
    height: 101%;
    object-fit: cover;
    object-position: center;
}

.textslider{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 10px;
    padding-left: 10px;
    position: absolute;
    overflow: hidden;
    top: 30%;
    transform: translateY(-20%);
    left: 15%;
    opacity: 0;
    transition: all 0.5s ease;
}

.actived{
    opacity: 1;
    z-index: 1;
}



.line_smallH{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: -150%;
    transition: all 1s ease;
}

.slider_line{
    width: 50px;
    height: 2px;
    background-color: #EC3834;
    transition: all 0.5s ease;
}
.slider_small_text{
    font-size: 18px;
    font-family: roboto;
    text-transform: uppercase;
    color: #EC3834;
}

.header1{
    font-size: 60px;
    font-weight: 900;
    text-transform: capitalize;
    font-family: sans-serif;
    color: white;
    margin-left: -150%;
    transition: all 1s ease;
}

.header2{
    font-size: 60px;
    font-weight: 900;
    text-transform: capitalize;
    font-family: sans-serif;
    color: white;
    margin-left: -150%;
    
}

.slider_btn{
    width: 200px;
    height: 60px;
    background-color: #FE2144;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -150%;
}

.slider_btn::before{
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height: 100%;
    background-color: #fcfcfc;
    transition: all 0.5s ease;
    overflow: hidden;
}

.slider_btn:hover:before{
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    background-color: #fcfcfc;
}

.slider_btn p{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    text-transform: uppercase;
    font-family: roboto;
    font-size: 14px;
}

.slider_btn p:before{
    content: 'our services';
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 0;
    color: rgb(5, 5, 5);
    transition: all 0.6s ease;
}

.slider_btn:hover p:before{
    content: 'our services';
    position: absolute;
    opacity: 1;
}

.animation1{
    animation: textmove 1.2s linear 0.2s 1 forwards;
}

.animation2{
    animation: textmove 1.2s linear 0.6s 1 forwards;
}

.animation3{
    animation: textmove 1.2s linear 0.6s 1 forwards;
}

.animation4{
    animation: textmove 1.2s linear 0.7s 1 forwards;
}

@keyframes textmove {
    0%{
        margin-left: -150%;
    }
    100%{
        margin-left: 0;
    }
}

@media (max-width:769px) {
    .header1,
    .header2{
        font-size: 27px;
    }

    .textslider{
        display: flex;
        flex-direction: column;
        left: 5%;
        gap: 50px;
    }
    .slider_btn{
        width: 150px;
        height: 50px;
    }
    .slider_line{
        width: 30px;
        height: 2px;
        background-color: #EC3834;
        transition: all 0.5s ease;
    }
    .slider_small_text{
        font-size: 14px;
    }
}
/****************************/
/****** WHAT WE DO **********/  
/****************************/

.what_we_do{
    background-image: url('./images/section_bg02.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center !important;;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -2px 9px 0px #474747
}



.what_we_do_overlap{
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    width: 90%;
    height: 80%;
    display: flex;
}

.what_we_do_overlap_left{
    width: 45%;
    height: 100%;
    box-sizing: border-box;
}

.what_we_do_overlap_left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.what_we_do_overlap_right{
    width: 55%;
    height: 100%;
    box-sizing: border-box;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.overlap_header{
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: roboto;
}

.line{
    width: 50px;
    height: 2px;
    background-color: white;
    border-radius: 10px;
}

.overlap_txt1 p{
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 800;
    color: white;
}

.overlap_txt2 p{
    font-family: roboto;
    font-size: 20px;
    color: white;
    line-height: 30px;
}

.overlap_txt3 p{
    font-family: roboto;
    font-size: 15px;
    color: #cecece;
    line-height: 30px;
}

.overlap_btn{
    width: 250px;
    height: 60px;
    background-color: #FE2144;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlap_btn::before{
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height: 100%;
    background-color: #fcfcfc;
    transition: all 0.5s ease;
    overflow: hidden;
}

.overlap_btn:hover:before{
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    background-color: #fcfcfc;
}

.overlap_btn p{
    color: white;
    position: relative;
    text-transform: uppercase;
    font-family: roboto;
    font-size: 14px;
}

.overlap_btn p:before{
    content: 'happy customers';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 0;
    color: rgb(5, 5, 5);
    transition: all 0.6s ease;
}

.overlap_btn:hover p:before{
    content: 'happy customers';
    position: absolute;
    opacity: 1;
}



@media (min-width:1400px) {
    .what_we_do{
        height: 80%;
    }

    .what_we_do_overlap{
        width: 65%;
        height: 75%;
    }

    .what_we_do_left{
        width: 35%;
    }
    
    .what_we_do_right{
        width: 65%;
    }
}

@media (max-width:769px) {
    .what_we_do{
        height: fit-content;
    }

    .what_we_do_left{
        display: none;
    }
    .what_we_do_right{
        width: 100vh;
    }
    .what_we_do_overlap{
        flex-direction: column;
        gap: 50px;
    }

    .what_we_do_overlap_left{
        width: 100%;
        height: 30%;
    }

    .what_we_do_overlap_right{
        width: 100%;
        padding: 0;
        gap: 20px;
        justify-content: unset;
    }

    .overlap_header{
        font-size: 14px;
    }

    .overlap_txt1  p{
        font-size: 26px;
    }
    .overlap_txt2 p{
        font-size: 17px;
    }
    
}



/*******************************************************/
/**************** სერვისები ***************************/

.services{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.service_textes{
    width: 100%;
}

.service_line_header{
    padding-left: 100px;
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 10px;
    font-family: roboto;
    color: #EE796C;
}
.service_line{
    width: 50px;
    height: 2px;
    background-color: #EC3834;
    border-radius: 10px;
}

.service_big_header{
    padding-left: 100px;
    font-size: 50px;
    color: #0D2D3E;
    font-family: sans-serif;
    font-weight: 800;
}

.service_cards_section{
    margin-top: 100px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.service_card{
    position: relative;
    width: 300px;
    height: 340px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #fafafad7;
    cursor: pointer;
}

.service_card::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 0%;
    bottom: 0;
    background-color: #EC3834;
    transition: all 0.5s ease;
}

.service_card:hover:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #EC3834;
}




.service_card_inner{
    text-align: center;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: absolute;
    bottom: 0;
    height: 100%;
    background-color: transparent;
    width: 100%;
    transition: all 0.55s ease;
}

.service_card_inner:hover{
    color: white;
}

.card_txt1{
    font-size: 24px;
    font-family: roboto;
    font-weight: 600;
}

.card_txt2{
    font-size: 16px;
    font-family: roboto;
}

.service_icons{
    width: 70px;
    fill: #EC3834;
    transition: all 0.6s ease;
}

.service_card_inner:hover .service_icons{
    width: 70px;
    fill: white;
}


@media (max-width:769px) {
    .service_cards_section{
        gap: 50px;
        flex-direction: column;
    }
    
    .service_line_header{
        padding-left: 50px;
        font-size: 14px;
    }
    .service_line{
        width: 25px;
    }
    .service_big_header{
        padding-left:50px;
        font-size: 26px;
    }

    .service_card{
        position: relative;
        width: 250px;
        height: 290px;
        box-sizing: border-box;
        overflow: hidden;
        background-color: #fafafad7;
        cursor: pointer;
    }
}