@font-face {
    src: url('./fonts/Poppins-Regular.ttf');
    font-family: poppins, sans-serif;
}

@font-face {
    font-family: roboto;
    src: url('./fonts/Roboto-Regular.ttf');
}



.top_section{
    font-family: poppins, sans-serif;
    width: 100%;
    height: 50px;
    background-color: rgba(2,54,127,1);

    overflow-x: hidden;
    display: flex;
    align-items: center;
}

.top_section_left,
.top_section_right{
  width: 50%;
  height: 100%;
  
  display: flex;
  align-items: center;
}

.top_section_left{
    padding-left: 5%;
    gap:10px;
}

.top_section_right{
    justify-content: flex-end;
    padding-right: 5%;
    gap: 25px;
}

.top_section_left_icon{
    width: 15px;
}

.top_section_left_txt{
    font-size: 12px;
    color: white;
}

.top_section_right_txt{
    font-size: 16px;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease;
}

.top_section_right_txt:hover{
    color: #EC3834;
}

.svgClass{
    height: 50%;
    width: 2ch;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top_section_right_facebook_icon{
    height: 20px;
    fill: white;
    transition: all 0.3s ease;

    transform-style: preserve-3d;
    transform: perspective(3000px) rotateY(0deg);
}

.svgClass:hover .top_section_right_facebook_icon{
    transform: perspective(3000px) rotateY(180deg) ;
    fill: #EC3834;
}


/********************/
/***** NAVBAR ******/

.navbar{
    font-family: poppins, sans-serif;
    width: 100%;
    height: 80px;
    top:50px;
    display: flex;
    z-index: 6;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    transition: all 0.2s ease;
}

.navbar_fixed{
    transition: all 0.2s ease;
    top:0;
    background-color: rgb(245, 245, 245);
}

.navbar_left{
    width: 30%;
}

.navbar_logo{
    width: 80px;
}

ul{
    display: flex;
    gap: 50px;
}

.navbar_links{
    list-style: none;
    cursor: pointer;
    text-transform: capitalize;
}

.links_underline{
    position: relative;
}

.links_underline::before{
    position: absolute;
    content: '';
    bottom: -5px;
    left: 0;
    width:0%;
    height: 2px;
    background-color: #02367F;
    transition: all 0.4s ease;
}

.links_underline:hover:before{
    width:100%;
}

.burger_menu{
    display: none;
    cursor: pointer;
}

.burger_menu_icon{
    width: 20px;
}

.dashboard{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color: white;
    display: none;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    z-index: 5;
    top: 50px;
    margin-top: -100% ;
    transition: all 0.3s ease;
}

.dashboard_Active{
    margin-top: 0;
}

.dashboard ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 20px;
    text-align: end;
}


@media (max-width:769px) {
    .top_section{
        display: none;
    }
    .navbar{
        box-sizing: border-box;
        height: 50px;
        justify-content: space-between;
        padding-right: 10px;
        position: fixed;
        z-index: 6;
        top: 0;
    }
    .navbar_logo{
        height: 50px;
        width: auto;
    }
    ul{
        display: none;
    }
    .burger_menu{
        display: block;
    }
    .dashboard{
        display: flex;
    }
}


/******************/
/***** SLIDER ****/

.slider{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

/* .slider_after_fixed{
    margin-top: 100px;
} */

.sliderIMG{
    width: 100%;
    height: 101%;
    object-fit: cover;
    object-position: center;
}


.textslider{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 10px;
    padding-left: 10px;
    position: absolute;
    overflow: hidden;
    top: 30%;
    transform: translateY(-20%);
    left: 15%;
    opacity: 0;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.actived{
    opacity: 1;
    z-index: 1;
}



.line_smallH{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: -150%;
    transition: all 1s ease;
}

.slider_line{
    width: 50px;
    height: 2px;
    background-color: #EC3834;
    transition: all 0.5s ease;
}
.slider_small_text{
    font-size: 18px;
    font-family: roboto;
    text-transform: uppercase;
    color: #EC3834;
}

.header1{
    font-size: 60px;
    font-weight: 900;
    text-transform: capitalize;
    font-family: sans-serif;
    color: #02367F;
    margin-left: -150%;
    transition: all 1s ease;
}

.header2{
    font-size: 60px;
    font-weight: 900;
    text-transform: capitalize;
    font-family: sans-serif;
    color: #02367F;
    margin-left: -150%;
    
}

.slider_btn{
    width: 200px;
    height: 60px;
    background:  linear-gradient(90deg, rgba(2,54,127,1) 0%, rgba(0,167,229,1) 100%);
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -150%;
}

.slider_btn::before{
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height: 105%;
    background-color: #fcfcfc;
    transition: all 0.5s ease;
    overflow: hidden;
}

.slider_btn:hover:before{
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    background-color: #fcfcfc;
}

.slider_btn p{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    text-transform: uppercase;
    font-family: roboto;
    font-size: 14px;
}

.slider_btn p:before{
    content: 'our services';
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 0;
    color: rgb(5, 5, 5);
    transition: all 0.6s ease;
}

.slider_btn:hover p:before{
    content: 'our services';
    position: absolute;
    opacity: 1;
}

.animation1{
    animation: textmove 1.2s linear 0.2s 1 forwards;
}

.animation2{
    animation: textmove 1.2s linear 0.6s 1 forwards;
}

.animation3{
    animation: textmove 1.2s linear 0.6s 1 forwards;
}

.animation4{
    animation: textmove 1.2s linear 0.7s 1 forwards;
}

@keyframes textmove {
    0%{
        margin-left: -150%;
    }
    100%{
        margin-left: 0;
    }
}

@media (max-width:769px) {
    .header1,
    .header2{
        font-size: 27px;
    }

    .textslider{
        display: flex;
        flex-direction: column;
        left: 5%;
        gap: 50px;
    }
    .slider_btn{
        width: 150px;
        height: 50px;
    }
    .slider_line{
        width: 30px;
        height: 2px;
        background-color: #EC3834;
        transition: all 0.5s ease;
    }
    .slider_small_text{
        font-size: 14px;
    }
}

/*******************************************************/
/**************** სერვისები ***************************/


/************************** searching **************/
