.searching{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    background-image: url('./images/blue-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.searching_headers p{
    font-size: 37px;
    font-family: sans-serif;
    font-weight: 800;
    color: white;
    text-transform: capitalize;
}


.search_btn{
    width: 250px;
    height: 60px;
    background-color: #FE2144;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: roboto;
}

.search_btn::before{
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height: 100%;
    background-color: #fcfcfc;
    transition: all 0.5s ease;
    overflow: hidden;
}

.search_btn:hover:before{
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    background-color: #fcfcfc;
}

.search_btn p{
    color: white;
    position: relative;
    text-transform: uppercase;
    font-family: roboto;
    font-size: 14px;
}

.search_btn p:before{
    content: 'Contact Us';
    position: absolute;
    font-family: roboto;
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 0;
    color: rgb(5, 5, 5);
    transition: all 0.6s ease;
}

.search_btn:hover p:before{
    content: 'Contact Us';
    position: absolute;
    opacity: 1;
}

@media (max-width:769px) {
    .searching{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 30px;
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 20px;
        padding-right: 0px;
    }
    .searching_headers p{
        font-size: 20px;
        font-family: sans-serif;
        font-weight: 600;
        color: white;
        text-transform: capitalize;
    }

    .search_btn{
        width: 200px;
        height: 60px;
    }
}