.services{
    overflow-x: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #0D2D3E;
}
.service_textes{
    width: 100%;
}

.service_line_header{
    padding-left: 100px;
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 10px;
    font-family: roboto;
    color: #0D2D3E;
}
.service_line{
    width: 50px;
    height: 2px;
    background-color: #0D2D3E;
    border-radius: 10px;
}

.service_big_header{
    padding-left: 100px;
    font-size: 50px;
    color: #0D2D3E;
    font-family: sans-serif;
    font-weight: 800;
}

.service_cards_section{
    margin-top: 100px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.service_card{
    position: relative;
    width: 300px;
    height: 340px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #fafafad7;
    cursor: pointer;
}

.service_card::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 0%;
    bottom: 0;
    background: linear-gradient(90deg, rgba(2,54,127,1) 0%, rgb(15, 95, 124) 100%);

    transition: all 0.5s ease;
}

.service_card:hover:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(2,54,127,1) 0%, rgb(15, 95, 124) 100%);

}




.service_card_inner{
    text-align: center;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: absolute;
    bottom: 0;
    height: 100%;
    background-color: transparent;
    width: 100%;
    transition: all 0.55s ease;
}

.service_card_inner:hover{
    color: white;
}

.card_txt1{
    font-size: 24px;
    font-family: roboto;
    font-weight: 600;
}

.card_txt2{
    font-size: 16px;
    font-family: roboto;
}



.service_icons{
    width: 70px;
    fill:rgba(2,54,127,1);

    transition: all 0.6s ease;
}

.service_card_inner:hover .service_icons{
    width: 70px;
    fill: white;
}


@media (max-width:769px) {
    .service_cards_section{
        gap: 50px;
        flex-direction: column;
    }
    
    .service_line_header{
        padding-left: 50px;
        font-size: 14px;
    }
    .service_line{
        width: 25px;
    }
    .service_big_header{
        padding-left:50px;
        font-size: 26px;
    }

    .service_card{
        position: relative;
        width: 250px;
        height: 290px;
        box-sizing: border-box;
        overflow: hidden;
        background-color: #fafafad7;
        cursor: pointer;
    }
}
