.compnay_swiper{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}



.swiper {
  width: 90%;
  height: 100%;
}

.swiper-slide {
    width: 100%;
    height: 100px !important;
  text-align: center;
  font-size: 18px;
  background: #fff;
  padding-bottom: 50px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 80%;
  object-fit: scale-down;
}
